
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node-ill {
  stroke: #f00;
  stroke-width: 3px;
}


.link {
  stroke: #999;
  stroke-opacity: .6;
}

body {
	padding: -10px;
}

svg {
	margin: -10px;
}
