
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node-ill {
  stroke: #f00;
  stroke-width: 3px;
}


.link {
  stroke: #999;
  stroke-opacity: .6;
}

body {
	padding: -10px;
}

svg {
	margin: -10px;
}

.form {
	position: absolute; padding: 2px 4px; left: 0px; top: 0px; z-index: 1; 	background-color: #BBB; font-family: sans-serif; opacity:1;
}
.form input {
	opacity: 1;
	width: 70px;
	text-align: right;
}
